{%extends "layout.html" %}
{%block content%}
<div class="box parent grid-parent">
    <div class="child">
        <div class="has-text-centered" style="position: relative;">
            <h1 class="title h-1">{{game.name}}</h1>
        </div>
        <strong class="title is-5"> {{game.user.username}}</strong></br>
        <span>{{game.upload_date.strftime("%d-%m-%Y")}}</span>
        <p> the game was downladed {{game.count}} times.</p>
        <p style="white-space: pre">{{game.description}}</p>

        <a href="{{url_for('download_game',gameId=game.id)}}" class="button is-link submit" style="position: absolute;">download it</a>

    </div>
    <div class="child image is-4by1">
        <img class="rounded" src="{{url_for('static',filename=game.image)}}">
    </div>

</div>
{%endblock content%}
