{%extends "layout.html"%}
{%block content%}
<div>
    <h1 class="title h-1"  align="center">Games You Downloaded</h1>

    <form method="POST" action="">
        {{form.hidden_tag()}}
        <div class="">
            <div class="field has-addons">
                <div class="control is-expanded">
                    {{form.search_bar(class="input is-info is-medium")}}
                </div>
                <div class="control">
                    {{form.submit(class="button is-info is-medium")}}
                </div>
            </div>
        </div>

    </form>
 <section class="">
        {% for game in games.items %}
            <article class="box">
                <span class="title is-3"> {{game.game.name}}</span>&nbsp;
                <strong class="title is-5"> {{game.game.user.username}}</strong></br>
                {%if  game.date%} <!-- game is not bought-->
                    {%if  utcnow < game.date%}
                        <p>status: Trial period until {{game.date}} </p>
                    {%else%}
                        <p>status: Trial period expired </p>
                    {%endif%}
                         <p>cost:{{game.game.cost}} &#x20AA;</p>
                        <a href="{{url_for('buy_game',gameId=game.id)}} " class="button is-link right-aligned" style="position: absolute;">Buy the game</a>

                {%else%}
                    <p>status: The game is bought </p>
                {%endif%}
            </article>
        {%else%}
        <div>
            <p class="field has-addons">no items found</p>
        </div>
        {% endfor %}
 </section>

</div>
<section class="field has-text-centered">

        {% for page_num in games.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if games.page == page_num %}
                    <a href="{{ url_for('home', page=page_num, prev_search=form.search_bar.data) }}" class="button">{{ page_num }}</a>
                {% else %}
                    <!-- different style-->
                    <a href="{{ url_for('home', page=page_num,prev_search=form.search_bar.data) }}" class="button">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </section>
{%endblock content%}