{%extends "layout.html" %}
{%block content%}
<h1> Home </h1>

<a href="{{url_for('game_page',gameId=1)}}">basic game Page</a>

<h2>our games</h2>
<div>
    <form method="POST" action="">
        {{form.hidden_tag()}}
        <fieldset>
            <div>
                {%if form.search_bar.errors %}
                <div>
                    {% for error in form.search_bar.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>

                {%else%}
                {{form.search_bar(class="form-control form-control-lg")}}
                {% endif %}

                {{form.submit()}}
            </div>
        </fieldset>
    </form>

{{all_games_table}}
</div>

{%endblock content%}
