{%extends "layout.html"%}
{%block content%}
<div class="box">
    <h1 class="title h-1"> Upload</h1>

    <form method="POST" enctype="multipart/form-data">

        {{form.hidden_tag()}}
        <fieldset >
            <div>
                {%if form.name.errors %}
                    {{form.name(class="input is-info")}}
                    <div>
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>

                {%else%}
                    {{form.name(class="input is-info")}}
                {% endif %}
            </div>
            <div>
            <br>
               <div class="file has-name">
                    <label class="file-label">
                         {{form.game_file(class="file-input")}}
                            <span class="file-cta">
                                <span class="file-label">
                                    Choose your game
                                </span>
                            </span>
                    </label>
               </div>
               <br>
               <div class="file has-name">
                   <label class="file-label">
                       {{form.img_file(class="file-input")}}
                       <span class="file-cta">
                           <span class="file-label">
                               Choose game image
                           </span>
                       </span>
                   </label>
               </div>
            </div>
            <div>
                {%if form.game_file.errors %}
                    {% for error in form.game_file.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>

            <br>
            <div>
                {{form.description(class="textarea")}}
                {%if form.description.errors %}
                    <div>
                        {% for error in form.description.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
            <br>
            <span>Choose the length of the trial period</span>
            <div class="field is-grouped is-grouped-left">

                 {{form.days(class="input")}}   {{form.hours(class="input")}}  {{form.minutes(class="input")}}
            </div>
            <div>
                {{form.price(class="input ")}}
                {%if form.price.errors %}
                    <div>
                        {% for error in form.price.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
            <div style="">
                {{form.upload(class="button is-info submit")}}
            </div>
        </fieldset>
    </form>
</div>
{%endblock content%}